body {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

#content {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 15px;
}

#inputs {
    display: flex;
    align-items: center;
}

#inputButton {
    width: 15%;
    margin-top: 10px;
}

#loanInput {
    display: flex;
    justify-content: center;
}

#rateInput {
    display: flex;
    justify-content: center;
}

#interestRateInput {
    width: 25%;
    margin: 5px;
}

#loanAmountInput {
    width: 50%;
    margin: 5px;
}

#calculationResults {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardResults {
    max-width: 200px;
    margin: 6px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

label {
    font-size: 18pt;
    padding-top: 4px;
}

